<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Flights</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a th:href="@{/login}">Home</a></li>
                <li><a th:href="@{/about}">About Us</a></li>
                <li><a th:href="@{/register}">Register Here</a></li>
                <li><a th:href="@{/flights}">Flights</a></li>
                <li><a th:href="@{/booking}">Booking</a></li>
                <li><a th:href="@{/payment}">Payment</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Add Flight</h1>
        <form th:action="@{/adding}" method="post" th:object="${flights}">
            <label for="id">ID</label>
            <input type="text" id="id" placeholder="Enter ID" name="id" th:field="*{id}" required><br><br>

            <label for="flightNumber">Flight Number</label>
            <input type="text" id="flightNumber" placeholder="Enter Flight Number" name="flightNumber" th:field="*{flightNumber}" required><br><br>

            <label for="airline">Airline</label>
            <input type="text" id="airline" placeholder="Enter Airline" name="airline" th:field="*{airline}" required><br><br>

            <label for="departure">Departure</label>
            <input type="text" id="departure" placeholder="Enter Departure Location" name="departure" th:field="*{departure}" required><br><br>

            <label for="destination">Destination</label>
            <input type="text" id="destination" placeholder="Enter Destination" name="destination" th:field="*{destination}" required><br><br>

            <label for="departureTime">Departure Time</label>
            <input type="text" id="departureTime" placeholder="Enter Departure Time" name="departureTime" th:field="*{departureTime}" required><br><br>

            <label for="arrivalTime">Arrival Time</label>
            <input type="text" id="arrivalTime" placeholder="Enter Arrival Time" name="arrivalTime" th:field="*{arrivalTime}" required><br><br>

            <button type="submit">Add Flight</button>
        </form>
    </main>

    <footer>
        <p>&copy; 2024 Airline Reservation System. All rights reserved.</p>
    </footer>
</body>
</html>
