<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>List</title>
</head>
<body>
<h1>List</h1>
<table>
	<tr>
		<th>Id</th>
		<th>Username</th>
		<th>firstname</th>
		<th>lastname</th>
		<th>gender</th>
		<th>country</th>
		<th>address</th>
		<th>phone</th>
		<th>email</th>
		</tr>
		<tr th:each="users :${users}">
			<td th:text="${users.id}"></td>
			<td th:text="${users.username}"></td>
			<td th:text="${users.firstname}"></td>
			<td th:text="${users.lastname}"></td>
			<td th:text="${users.gender}"></td>
			<td th:text="${users.country}"></td>
			<td th:text="${users.address}"></td>
			<td th:text="${users.phone}"></td>
			<td th:text="${users.email}"></td>
			</tr>
	</table>
</body>
</html>