<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/login.css}">
</head>
<body>
   
    <header>
        <nav>
            <ul>
                <li><a href="/login">Home</a> </li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/register">Register Here</a></li>
                <li><a href="/flights">Flights</a></li>
                <li><a href="/booking">Booking</a></li>
                <li><a href="/payment">Payment</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <form th:action="@{/login-status}" method="post">
        <label>Username</label>
        <input type="text" placeholder="username" name="username" id="username"><br><br>

        <label>Password</label>
        <input type="password" placeholder="password" name="password" id="password"><br><br>

        <input type="submit">
        
        <!-- Display error message if login failed -->
        <div th:if="${failed}">
            <p th:text="${failed}"></p>
        </div>
    </form>

    <footer>
        <p>&copy; 2024 Airline Reservation System. All rights reserved.</p>
    </footer>  
</body>
</html>
